@model IEnumerable<linkedinproject.Models.Employer>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
               @Html.DisplayName("Profile Picture")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="~/images/@item.ProfilePicture"
                         class="rounded-circle"
                         height="50" width="50"
                         asp-append-version="true" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>

                <td>
                   
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-area="" asp-controller="Admin" asp-action="EmployerProfile"asp-route-employerid="@item.Id">Profile</a>
                </td>
            </tr>
        }
    </tbody>
</table>
