@model IEnumerable<linkedinproject.Models.Apliciraj>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
              @Html.DisplayName("Employer")
            </th>
            <th>
                @Html.DisplayName("Job Title")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oglas.Employer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oglas.JobTitle)
            </td>
        </tr>
}
    </tbody>
</table>
