@model linkedinproject.Models.Employee

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style=" background-image: url('../images/background.jpg'); background-size:cover;">

    <div style="background-color:aliceblue; position:relative; z-index:-5;">
        <img src="~/images/@Model.CoverPhoto"
             style="width:100%; height:500px; position:relative; z-index:-1;"
             asp-append-version="true" />
        <img src="~/images/@Model.ProfilePicutre"
             style="width:200px; height:200px; border-radius:50%; position:absolute; z-index:1; left:42%; top:46%; "
             asp-append-version="true" />

        <br />
        <div style="position:relative; text-align:center;">
            <div style="font-size:35px"><strong>@Html.DisplayFor(model => model.FullName)</strong></div>
            <div>Age: @Html.DisplayFor(model => model.Age)</div>
            <div>Currently @Html.DisplayFor(model => model.CurrentPosition)</div>
            <div>Looking for jobs similar to @Html.DisplayFor(model => model.WantedPosition)</div>
        </div>
    </div>
    <a asp-area="" asp-controller="Employee" asp-action="EditProfile" asp-route-id="@Model.Id"
       style="position:relative; z-index:5; left:49%;">Edit</a>

    <div style="background-color:aliceblue; position:relative; text-align:center;">
        <strong style="font-size:25px;">Contact</strong>
        <div>CV: <a href="~/files/@Html.DisplayFor( model => model.CV)">@Html.DisplayFor(model => model.CV)</a></div>
        <div>Cover Letter: <a href="~/files/@Html.DisplayFor(model => model.CoverLetter)">@Html.DisplayFor(model => model.CoverLetter)</a></div>
        <div>GitHub: <a href="@Html.DisplayFor(model => model.GitHubLink)">@Html.DisplayFor(model => model.GitHubLink)</a></div>
        <div>Location: @Html.DisplayFor(model => model.Location)</div>
        <div>Phone Number: @Html.DisplayFor(model => model.PhoneNumber)</div>
        <div>Mail: @Html.DisplayFor(model => model.Mail)</div>
    </div>
    <a asp-area="" asp-controller="Employee" asp-action="EditContact" asp-route-id="@Model.Id"
       style="position:relative; z-index:5; left:49%;">Edit</a>

    <div style="background-color:aliceblue; position:relative; text-align:center;">
        <strong style="font-size:25px;">Description</strong> <br />
        @Html.DisplayFor(model => model.Description)
        <br />
    </div>
    <a asp-area="" asp-controller="Employee" asp-action="EditDescription" asp-route-id="@Model.Id"
       style="position:relative; z-index:5; left:49%;">Edit</a>
    <div style="background-color:aliceblue; position:relative; text-align:center;">
        <strong style="font-size:25px;">Personal Skills</strong>
        <br />
        @Html.DisplayFor(model => model.Skills)
        <br />
        <a asp-area="" asp-controller="Employee" asp-action="AddSkills" asp-route-id="@Model.Id">Add Skills</a>
    </div>
    <br />
    <div style="background-color:aliceblue;">
        <strong style="font-size:25px;  position:relative; text-align:center; left:46%;">Interests</strong>
        <br />
        <br />
        @foreach (var item in Model.Interests)
        {
            <img src="~/images/@item.Employer.ProfilePicture"
                 style="border-radius:50%; margin-top:0.3%; left:-50%;"
                 height="70" width="70"
                 asp-append-version="true" />
            <a asp-area="" asp-controller="Employee" asp-action="EmployeeSeeProfile" asp-route-id="@item.Employer.Id" style="font-size:20px;">
                @Html.DisplayFor(modelItem => item.Employer.Name)
            </a>
            <a asp-area="" asp-controller="Interest" asp-action="Delete" asp-route-id="@item.Id"><div style="position:relative; float:right;">Not interested</div></a>
            <br />
        }
        <br />
        <a asp-area="" asp-controller="Interest" asp-action="MakeInterest" asp-route-id="@Model.Id"
           style=" position:relative; text-align:center; left:46%;">Add Interests</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>