@model linkedinproject.Models.Employee


<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePicutre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfilePicutre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoverPhoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoverPhoto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoverLetter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoverLetter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GitHubLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GitHubLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentPosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WantedPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WantedPosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Skills)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
